include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= "title"
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css
		block head

	//- HTML BODY
	body
		#app
			//- PAGE HEADER
			block header
				include ./header

			//- PAGE BODY
			block body
				main#main
					block flash-messages
						+flash-messages(messages)

					block content
						
			//- PAGE FOOTER
			block footer
				include ./footer

		//- JAVASCRIPT
		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		block js
