include ../../mixins/auth/auth-forms

extends ../../layouts/default

block flash-messages
	//- intentionally blank
	
block content			
	.page
		+flash-messages(messages)
		+auth-forms({ intent: 'signin' })