//-
	Reset Password form
	
mixin form-reset-password()
	.auth
		form(method='post' action='/reset-password/' + key role='signin')
			input(type='hidden' name='action' value='reset-password')
			.form-groups
				.form-group
					label(for='password') New Password
					input(type='password', 
						  name='password', 
						  placeholder='New Password'
						  value=(form ? form.password : null))
				button(type='submit') Reset password