//-
	Forgot password.
	
mixin form-forgot-password()
	.auth
		form(method='post', action='/forgot-password', autocomplete='off', novalidate)
			input(type='hidden', name='action', value='forgot-password')
			.form-groups
				.form-group
					label(for='email') Email
					input(type='email', 
						  name='email', 
						  placeholder='Email'
						  value=(form ? form.email : null))
				button(type='submit') Send reset link.